

button{
    background-color: #fff; 
    width: 220px; 
    height: 220px; 
    border-radius: 5%;
    margin: 35px;
}
img {
    filter: drop-shadow(5px 5px 5px #222);
}

span{
    margin-top: 20px;
    float: inline-start;
    
}