<mat-toolbar>
 
  <button id="logo" mat-button [routerLink]="['']" class="example-icon">
    <img src="/assets/img/header.png" height="40" alt="">
  </button>

  <mat-form-field id="search" appearance="legacy">
    <mat-label>Pokémon search</mat-label>
    <input  (keyup)="search($event)" matInput placeholder="Pokémon name">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-icon id="searchIcon" (click)="searchHiden = !searchHiden" matSuffix>
    {{searchHiden? 'closed' : 'search'}}
  </mat-icon>

</mat-toolbar>

<mat-form-field *ngIf="searchHiden" id="searchHiden" appearance="outline">
  <mat-label>Pokémon search</mat-label>
  <input  [(ngModel)]="searchName"  (keyup)="search($event)" matInput placeholder="Pokémon name">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>




